[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dependencies/tinyexpr"]
	path = dependencies/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
